:host {
  position: absolute;
  background: rgba(0, 0, 0, .3);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

:host /deep/ .modal-dialog {
  padding: 5px;
  background-color: white;
}

:host /deep/ .modal-body {
  padding: 20px;
}

