.friend-container:hover {
    background-color: #e8f3ff;
    cursor: pointer;
}

.chat-column, .text-horizontal {
    padding: 0 10px;
}

.selected {
    background-color: #b6d5f7;
}
.selected:hover {
    background-color: #cbdff5;
}